In [1]:
import pyvisa

rm = pyvisa.ResourceManager()
print(rm.list_resources())

deviceIDNs = {}

for device in rm.list_resources():
    _device = rm.open_resource(device)
    _IDN = _device.query('*IDN?')
    deviceIDNs[device] = _IDN

for key,value in deviceIDNs.items():
    if 'SO-X' in value:
        scopeResource = key
        break

scope = rm.open_resource(scopeResource)
scope.timeout = 10000
print(scope.query('*IDN?'))

('USB0::0x0957::0x17B6::MY55110206::0::INSTR',)
AGILENT TECHNOLOGIES,MSO-X 4024A,MY55110206,07.35.2020120823

In [4]:
scope.write(":DIGitize") 
scope.write(':LISTer:DISPlay 1')
listerOutput = scope.query(":LISTer:DATA?")

listerOutput = listerOutput.split('\n')

import pandas as pd 

splitList = []

for entry in listerOutput[1:]:
    splitEntry = entry.split(',')
    splitList.append(splitEntry)

listerDataframe = pd.DataFrame(splitList, columns = listerOutput[0].split(','))
listerDataframe = listerDataframe.drop(listerDataframe.columns[0], axis=1)
listerDataframe = listerDataframe[listerDataframe.Time.notnull()]
listerDataframe

        Time Serial Bus  Rx Tx            Errors
0   -440.0us    Serial1         Unknown Tx Error
1   -35.92us    Serial1   T
2    19.92us    Serial1   e
3    72.24us    Serial1   s
4    124.5us    Serial1   t
..       ...        ...  .. ..               ...
64   3.275ms    Serial1   e
65   3.327ms    Serial1   n
66   3.379ms    Serial1   !
67   3.432ms    Serial1  CR
68   3.484ms    Serial1  LF

[69 rows x 5 columns]